<!DOCTYPE html>
<html>
<head>
  <title>Internal styles</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "internal_styles/application", media: "all" %>
  <%= javascript_include_tag "internal_styles/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
